<script>
	import { AceEditor } from 'svelte-ace';
	import 'brace/theme/dracula';
	import 'brace/keybinding/vim';

	export let value = '';
</script>

<AceEditor
	on:input
	on:documentChange={(obj) => console.log(`document change : ${obj.detail}`)}
	on:cursorChange={() => console.log('cursor change')}
	on:commandKey={(obj) => console.log('command key', obj.detail)}
	on:changeMode={(obj) => console.log(`change mode : ${obj.detail}`)}
	width="100%"
	height="100%"
	options={{ keyboardHandler: 'ace/keyboard/vim' }}
	theme="dracula"
	{value}
/>
