<script lang="ts">
	import DataTable, {
		Head,
		Body,
		Row,
		Cell,
		Pagination,
	} from '@smui/data-table';
	import LinearProgress from '@smui/linear-progress';
	import IconButton from '@smui/icon-button';
	import {
		formatHex,
		formatSignedDec,
		formatUnsignedDec,
		unsigned,
		VmNumber,
	} from '$lib/numberUtils.ts';
	import PageFirst from 'svelte-material-icons/PageFirst.svelte';
	import PageLast from 'svelte-material-icons/PageLast.svelte';
	import ChevronLeft from 'svelte-material-icons/ChevronLeft.svelte';
	import ChevronRight from 'svelte-material-icons/ChevronRight.svelte';

	export let state: VmNumber[] = [];
	export let ready = true;

	let start = 0;
	let end = 0;
	let currentPage = 0;
	const rowsPerPage = 10;

	$: start = currentPage * rowsPerPage;
	$: end = Math.min(start + rowsPerPage, state.length);
	$: slice = state.slice(start, end);
	$: lastPage = Math.max(Math.ceil(state.length / rowsPerPage) - 1, 0);
	$: if (currentPage > lastPage) {
		currentPage = lastPage;
	}
</script>

<div>
	<h2>Memory</h2>

	<DataTable table$aria-label="Memory state" style="width: 100%;">
		<Head>
			<Row>
				<Cell style="width: 100%;">Address</Cell>
				<Cell numeric>Hexadecimal</Cell>
				<Cell numeric>Unsigned decimal</Cell>
				<Cell numeric>Signed decimal</Cell>
			</Row>
		</Head>

		<Body style="min-height: 20px;">
			{#each slice as value (value.address)}
				<Row>
					<Cell tyle="width: 100%;">{formatHex(value.address)}</Cell>
					<Cell numeric>{formatHex(unsigned(value))}</Cell>
					<Cell numeric>{formatUnsignedDec(value)}</Cell>
					<Cell numeric>{formatSignedDec(value)}</Cell>
				</Row>
			{/each}
		</Body>

		<LinearProgress
			slot="progress"
			indeterminate
			bind:closed={ready}
			aria-label="Assembling"
		/>

		<Pagination slot="paginate">
			<IconButton
				action="first-page"
				title="First page"
				on:click={() => (currentPage = 0)}
				disabled={currentPage === 0}
			>
				<PageFirst />
			</IconButton>
			<IconButton
				action="prev-page"
				title="Prev page"
				on:click={() => currentPage--}
				disabled={currentPage === 0}
			>
				<ChevronLeft />
			</IconButton>
			<IconButton
				action="next-page"
				title="Next page"
				on:click={() => currentPage++}
				disabled={currentPage === lastPage}
			>
				<ChevronRight />
			</IconButton>
			<IconButton
				action="last-page"
				title="Last page"
				on:click={() => (currentPage = lastPage)}
				disabled={currentPage === lastPage}
			>
				<PageLast />
			</IconButton>
		</Pagination>
	</DataTable>
</div>
