<script lang="ts">
	import DataTable, { Head, Body, Row, Cell } from '@smui/data-table';
	import LinearProgress from '@smui/linear-progress';
	import {
		formatHex,
		formatSignedDec,
		formatUnsignedDec,
		unsigned,
		VmNumber,
	} from '$lib/numberUtils.ts';

	export let state: VmNumber[] = [];
	export let ready = true;
</script>

<div>
	<h2>Registers</h2>

	<DataTable table$aria-label="Register state" style="width: 100%;">
		<Head>
			<Row>
				<Cell style="width: 100%;">Register</Cell>
				<Cell numeric>Hexadecimal</Cell>
				<Cell numeric>Unsigned decimal</Cell>
				<Cell numeric>Signed decimal</Cell>
			</Row>
		</Head>

		<Body>
			{#each state as value, i}
				<Row>
					<Cell tyle="width: 100%;">R{i}</Cell>
					<Cell numeric>{formatHex(unsigned(value))}</Cell>
					<Cell numeric>{formatUnsignedDec(value)}</Cell>
					<Cell numeric>{formatSignedDec(value)}</Cell>
				</Row>
			{/each}
		</Body>

		<LinearProgress
			indeterminate
			bind:closed={ready}
			aria-label="Assembling"
			slot="progress"
		/>
	</DataTable>
</div>
