<script>
	import Button, { Group, Label } from '@smui/button';
</script>

<div class="container">
	<Group variant="raised">
		<Button on:click={() => alert('run')} variant="raised">
			<Label>Run</Label>
		</Button>
		<Button on:click={() => alert('reload')} variant="raised">
			<Label>Reload</Label>
		</Button>
		<Button on:click={() => alert('randomize')} variant="raised">
			<Label>Randomize</Label>
		</Button>
		<Button on:click={() => alert('reinitialize')} variant="raised">
			<Label>Reinitialize</Label>
		</Button>
	</Group>
</div>

<style>
	.container {
		display: flex;
		justify-content: space-around;
	}
</style>
