<script>
	import { onMount } from 'svelte';
	import Memory from '$lib/Memory.svelte';
	import Registers from '$lib/Registers.svelte';
	import VmControls from '$lib/VmControls.svelte';

	let Editor = null;
	onMount(async () => {
		({ default: Editor } = await import('$lib/Editor.svelte'));

		let { LC3, default: init } = await import('lc3-wasm');
		await init();
		window.LC3 = LC3;
	});

	let program = '; test';

	const zero = {
		unsigned: 0,
		signed: 0,
		negative: false,
	};
	let vm = {
		registers: Array.from({ length: 8 }).fill(zero),
		memory: Array.from({ length: Math.pow(2, 16) })
			.fill(zero)
			.map((x, address) => ({ ...x, address })),
	};
</script>

<div class="container">
	<div class="editor">
		{#if Editor != null}
			<svelte:component
				this={Editor}
				on:input={({ detail }) => (program = detail)}
				bind:value={program}
			/>
		{:else}
			<span>Loading...</span>
		{/if}
	</div>

	<div class="output">
		<VmControls />
		<Registers state={vm.registers} />
		<Memory state={vm.memory} />
	</div>
</div>

<style>
	.container {
		display: flex;
		flex-direction: row;
		height: 100%;
	}

	.editor,
	.output {
		width: 50%;
	}
</style>
